flask
gunicorn
python-dotenv
pypdf

# LangChain ecosystem
langchain
langchain-community
langchain-pinecone
langchain-groq   # let pip pick latest compatible

# Hugging Face API client
huggingface-hub
